<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Root</key>
	<array>
		<dict>
			<key>fileName</key>
			<string>marry.mp3</string>
			<key>icon</key>
			<string>hejie</string>
			<key>lrcName</key>
			<string></string>
			<key>name</key>
			<string>我们结婚吧</string>
			<key>singer</key>
			<string>何洁</string>
			<key>singerIcon</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>李克勤 - 天梯.mp3</string>
			<key>icon</key>
			<string>likeqin</string>
			<key>lrcName</key>
			<string></string>
			<key>name</key>
			<string>天梯</string>
			<key>singer</key>
			<string>李克勤</string>
			<key>singerIcon</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>徐佳莹 - 浪费.mp3</string>
			<key>icon</key>
			<string>xujiayin</string>
			<key>lrcName</key>
			<string></string>
			<key>name</key>
			<string>浪费</string>
			<key>singer</key>
			<string>徐佳莹</string>
			<key>singerIcon</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>薛之谦 - 丑八怪.mp3</string>
			<key>icon</key>
			<string>xuezhiqian</string>
			<key>lrcName</key>
			<string></string>
			<key>name</key>
			<string>丑八怪</string>
			<key>singer</key>
			<string>薛之谦</string>
			<key>singerIcon</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>薛之谦 - 演员.mp3</string>
			<key>icon</key>
			<string>yanyuan</string>
			<key>lrcName</key>
			<string></string>
			<key>name</key>
			<string>演员</string>
			<key>singer</key>
			<string>薛之谦</string>
			<key>singerIcon</key>
			<string></string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
